.view-setup p code,
pre {
  white-space: pre;
  /* CSS 2.0 */

  white-space: pre-wrap;
  /* CSS 2.1 */

  white-space: pre-line;
  /* CSS 3.0 */

  white-space: -pre-wrap;
  /* Opera 4-6 */

  white-space: -o-pre-wrap;
  /* Opera 7 */

  white-space: -moz-pre-wrap;
  /* Mozilla */

  white-space: -hp-pre-wrap;
  /* HP Printers */

  word-wrap: break-word;
  /* IE 5+ */

  display: block;
  padding: 10px;
  margin: 10px 0;
  color: #666;
  border: 1px dashed #ccc;
}
.view-setup pre {
  background: #ddd;
  word-wrap: auto;
  color: #666;
  padding: 10px;
}
body.view-setup {
  padding: 20px;
  margin: 0;
  font-family: Arial;
  font-size: 14px;
}
.view-setup .setup {
  max-width: 800px;
}
.view-setup ul li {
  margin: 10px 0px 0px 0px;
}
.view-setup form {
  display: none;
}
.view-setup blockquote {
  border-left: 2px solid #ccc;
  padding: 5px;
  font-style: italic;
  margin-left: 20px;
}
